*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;   //颜色继承
}
ul,ol{
    list-style: none;
}
button,input{
    font:inherit;
}
:focus{
    outline: none;
}
h3{
    font-weight: normal;
}